
<div class="admin">
    {% if successMessage %}
        <div class="success-message">{{ successMessage }}</div>
    {% endif %}
    {% if news %}
        <h3> News </h3>
      {%  for n in news %}
          <div class="news">
              <div>
                  <b> {{ n.title }}</b>  <span class="description">{{ n.description }}</span>
              </div>
              <div>
                  <img class="edit" src="../images/pencil.svg" alt="edit" data-news-id="{{ n.id }}">
                  <img class="delete" src="../images/close.svg" alt="delete" data-news-id="{{ n.id }}">
              </div>
          </div>
      {% endfor %}
    {%  endif %}


    <h3> Create News </h3>
    <form id="addNews" action="../action/news.php">
        <input name="method" type="hidden" value="add">
        <input class="form-input" type="text" name="title" placeholder="Title">
        <textarea class="form-input" type="text" name="description" placeholder="Description" rows="10"></textarea>
        <button class="button form-input" type="submit">Create</button>
    </form>
    <form action="../action/logout.php" method="get">
        <button class="button form-input" type="submit">Logout</button>
    </form>
</div>
<script src="../js/admin.js"></script>
